section.profile-classes {
	@include outer-container;
	padding: em(40) 0 em(100) 0;

	header {
		position:relative;
		@include span-columns(12);
		text-align: center;
		margin-bottom: em(40);
		@include media($large-screen) {
			@include span-columns(4);
		}
		h1 {
			line-height: 1;
			margin-bottom: .5em;
		}
		h2 {
			font-size: 1.2em;
		}

		hr {
			display: block;
			border: none;
			width: 50%;
			margin: em(20) auto;
			height: 10px;
			background: $plum;
		}
	}
}

.user-classes {
	@include span-columns(12);
	padding: 0 em(20);
	@include media($large-screen) {
		@include span-columns(8);
	}
	h3 {
		font-family: $sans-serif;
		font-size: 1.2em;
		font-weight: $font-bold;
		text-transform: uppercase;
		color: $apple;
		letter-spacing: 1px;
	}

	tr {
		height: 2.8em;
	}
	td {
		&:first-child {
			width: 75%;
			p {
				margin-bottom: 0;
				&:first-child {
					font-weight: $font-bold;
				}
				&:last-child {
					color: lighten($light-gray, 20%);
				}
			}
			span {
				margin: 0 6px 0 0px;
				&:not(:first-child) {
					margin: 0 6px 0 12px;
				}
			}
		}
		&:last-child {
			vertical-align: middle;
			a {
				background: #E0393E;
				position: relative;
				padding: 16px 80px 16px 16px;
				float: right;
				&:hover,
				&:active,
				&:focus {
					background: darken(#E0393E, 10%);
				}
			}
			span {
				margin-left: .25em;
				font-size: 2.5em;
				position: absolute;
				top: 0;
				font-weight: normal;
			}
		}
	}
}

.profile-classes-circle {
	display: none;
	@include media ($large-screen) {
		display:block;
		position: absolute;
		top: -90px;
		left: 10px;
		z-index: -30;
		height: 320px;
		width: 320px;
		background: transparentize($lemon, .6);
		border-radius: 50%;
	}	
}