.workshop-header-inner,
.workshop-inner {
  @include outer-container;
}
.workshop-inner {
  padding-top: 1.5em;
  overflow: hidden;
}
.workshop {
  header {
    background: $eggplant;
    position: relative;
    padding-bottom: em(20);
    padding-left: em(20);
    padding-right: em(20);
    color: $white;
    z-index: 9999;
    @include media ($large-screen) {
    padding-top: em(40);
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -60px;
        z-index: -999;
        width: 100%;
        height: em(120);
        background: $eggplant;
        @include transform(skewY(3deg));
      }
    }
  }
  .time {
    @include span-columns(12);
    @include media ($large-screen) {
      @include span-columns(3);
      border-right: 1px solid transparentize(white, .9);
      margin-top: 1.5em;
    }
    text-align: center;
    span {
      font-family: $serif;
      font-size: 5em;
      font-weight: $font-bold;
      line-height: 0;
      @include media ($large-screen) {
        line-height: 1;
      }
    }
    em {
      display: block;
      font-style: italic;
      font-family: $serif;
      color: transparentize(white, .6);
    }
    a {
      @extend button;
      margin: 1em;
      width: 80%;
    }
  }
  .information {
    @include span-columns(12);
    @include media ($large-screen) {
      @include span-columns(9);
    }
    text-align: left;
  }
  h1 {
    font-weight: $font-medium;
    font-size: 2.25em;
    color: $white;
    margin-bottom: .5em;
  }
  .makers {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: $font-bold;
    em {
      font-style: normal;
    }
  }
  form {
    margin-bottom: 2em;
  }
  label {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: lighten($light-gray, 20%);
    line-height: 2;
    
  }
  input[type="text"] {
    @include transition(all, .2s, ease-in-out);
    border-radius: 0;
    border: none;
    border-bottom: 2px solid lighten($light-gray, 20%);
    box-shadow: none;
    padding: 0.5em 0;
    color: $light-gray;
    &:focus {
      border-bottom: 2px solid $apple;
    }
  }
  textarea {
    border-radius: 0;
    border: none;
    background-color: $lightest-gray;
    box-shadow: none;
    color: $light-gray;
    border-bottom: 2px solid lighten($light-gray, 20%);
    margin-bottom: 0;
    &:focus {
      box-shadow: none;
      background-color: lighten($lightest-gray, 2%);
      border-bottom: 2px solid $apple;
    }
  }
  .workshop-topics,
  .workshop-notifications {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    @include media ($large-screen) {
      padding-bottom: 500em;
      margin-bottom: -500em;
      padding-top: 6em;
    }
  }
  .workshop-topics {
    @include span-columns(12);
    @include media ($large-screen) {
      @include span-columns(9);
    }
  }
  .workshop-notifications {
    display: none;
    position: relative;
    overflow: hidden;
    @include media ($large-screen) {
      @include span-columns(3);
    }
    h3 {
      font-family: $sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $pear;
      line-height: 2;
      font-size: 1em;
      padding-left: 1em;
      padding-bottom: 1em;
    }
    a {
      display: block;
      padding-left: 1em;
      color: $medium-gray;
      &:visited {
        color: $medium-gray;
      }
      &:hover {
        color: $dark-gray;
      }
    }
    li {
      position: relative;
      margin: 1em 0;
    }
    .line {
      position: absolute;
      width: 1px;
      height: 200%;
      left:6px;
      top: -6em;
      background: $lightest-gray;
    }
    .dot {
      position: absolute;
      height: 11px;
      width: 11px;
      border-radius: 50%;
      background: $pear;
      left: -15px;
      top: 8%;
    }
  }
}
.workshop-topics-wrapper {
  margin: em(20) 0;
}
.workshop-topic,
.workshop-notifications {
  time {
    display: block;
    color: lighten($light-gray, 20%);
    span {
      color: lighten($light-gray, 20%);
      margin-right: 6px;
    }
  }
}
.workshop-topic {
  @include clearfix;
  margin-bottom: 1em;
  article {
    display: inline-block;
    float: right;
    margin: 0;
    margin-left: 3%;
    padding-top: .5em;
    width: 85%;
    @include media ($large-screen) {
      width: 89%;
    }
    h2 {
      font-family: $sans-serif;
      font-size: em(16);
      font-weight: $font-bold;
      color: $medium-gray;
    }
  }
  span {
    color: $peach;
  }
  .details {
    color: $light-gray;
  }
  aside {
    display: inline-block;
    position: relative;
    float: left;
    width: 12%;
    @include media ($large-screen) {
      width: 8%;
    }
    p {
      position: absolute;
      left: -2.5em;
      top: 30%;
      color: lighten($light-gray, 20%);
      font-weight: $font-bold;
    }
    button {
      width: 100%;
    }
  }
}
span.username {
  color: $peach;
  font-weight: $font-bold;
}
button.counter {
  background-color: white;
  border: 1px solid $peach;
  color: $peach;
  padding: 12px 0;
  &:hover,
  &.active {
    background-color: $peach;
    border: 1px solid $peach;
    color: $white;
  }
  i {
    font-style: normal;
  }
}