<template name="profile">
	{{>nav}}
		<section class="profile-classes">
		<header>
			<div class="profile-classes-circle">&nbsp;</div>
			<h1 class="logo"><span>hello</span>MAKER</h1>
				<h2>start learning how to build your ideas with HTML, CSS and JavaScript</h2>
				<hr>
		</header>
		<div class="user-classes">
			<h3>Your Workshops</h3>
			<table>
				<tr>
					<td>
						<p><a href="/workshop">Design Workshop: Building Blocks of UI</a></p>
						<p><time datetime="2015-07-24 18:00"><span class="entypo-clock"></span>2 days from now</time>&emsp;&bull;&emsp;<span class="entypo-pencil"></span>18 topics posted&emsp;&bull;&emsp;<span class="entypo-thumbs-up"></span> 24 upvotes</p>
					</td>
					<td><a href="" class="button">Register on <span class="zocial-meetup"></span></a></td>
				</tr>
				<tr>
					<td>
						<p><a href="/workshop">Intro Class: Build Your First Website</a></p>
						<p><time datetime="2015-07-24 18:00"><span class="entypo-clock"></span>yestreday</time>&emsp;&bull;&emsp;<span class="entypo-pencil"></span>18 topics posted&emsp;&bull;&emsp;<span class="entypo-thumbs-up"></span> 24 upvotes</p>
					</td>
					<td><a href="" class="button">Register on <span class="zocial-meetup"></span></a></td>
				</tr>
				<tr>
					<td>
						<p><a href="/workshop">Deep Dive: CSS Architecture</a></p>
						<p><time datetime="2015-07-24 18:00"><span class="entypo-clock"></span>8 days ago</time>&emsp;&bull;&emsp;<span class="entypo-pencil"></span>18 topics posted&emsp;&bull;&emsp;<span class="entypo-thumbs-up"></span> 24 upvotes</p>
					</td>
					<td><a href="" class="button">Register on <span class="zocial-meetup"></span></a></td>
				</tr>
			</table>
	</div>
		</section>

<div class="workshops-wrapper workshops-wrapper-compact">
	<section class="workshops">
			<ul class="workshops-list">
					{{#each workshops}}
						<li>
							{{> workshop_item}}
						</li>
					{{/each}}
			</ul>
		</section>
</div>
<section class="feedback">
	<div class="feedback-inner">
		<h3>We would love your feedback</h3>
		<p>Send us your questions, suggestions or concerns. Have an idea for a workshop? Want to be a guest speaker? Drop us a line!</p>
		<form action="">
			<label for=""> Name
				<input type="text">
			</label>
			<label for=""> Email
				<input type="text">
			</label>
			<label for=""> Message
				<textarea name="" id="" cols="30" rows="4"></textarea>
			</label>
		</form>
	</div>
</section>
</template>
