<template name="default_layout">
	{{> yield}}

	<!-- Footer: START -->
    <footer>
      <div class="footer-1">
          <p>san francisco, ca</p>
      </div>
      <div class="footer-2">
          <ul class="social-links">
              <li><a href="https://twitter.com/WorkshopsCamp" target="_blank"><span class="entypo-twitter"></span></a></li>
              <li><a href="https://plus.google.com/112148167491781178084" rel="publisher" target="_blank"><span class="entypo-gplus"></span></a></li>
          </ul>
      </div>
    </footer>
    <!-- Footer: END -->
</template>
